@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */

:root {
  --gray: #0c2e37;
  --purple: #6D09F9;
  --hero: #FFF7E4CC;
  --heroDark: #FFD2E466;
}

*{
  color: var(--gray);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.logo{
  width: 150px;
}

.button, .outline-button{
  border-radius: 1.5rem;
}

.test{
  border: 1px solid red;
}

/* HEADER */

.navlink:hover{
  color: var(--purple);
}

.navbutton:hover, .button:hover{
  background-color: var(--purple);
}

/* HOME */
.hero{
  background: linear-gradient(101.8deg, var(--hero) 39.92%, var(--heroDark) 100%);
  border-radius:20px;
}

.perks, .product-description, .why-item{
  border-bottom: 1px solid #808080;
}

.product-button:hover{
  background: linear-gradient(94.31deg, #FC6720 -0.32%, #F34249 100%) !important;
  color: white;
  border: none;
}

.product-card:hover{
  background: linear-gradient(101.8deg, rgba(255, 247, 228, 0.8) 0%, rgba(109, 9, 249, 0.2) 100%);
}

/* WHY US */

.why-tag{
  border: 1px solid rgba(128, 128, 128, 0.802);
  border-radius: 1rem;
}

.why-cards{
  border-radius: 1rem;
  padding: 2rem;
}

.self-pay{
  background: linear-gradient(101.8deg, rgba(255, 247, 228, 0.8) 0%, rgba(255, 210, 228, 0.2) 100%);
}

.self-pay ul, .insurance ul{
  border-top: 1px solid rgba(128, 128, 128, 0.802);
  border-bottom: 1px solid rgba(128, 128, 128, 0.802);
  padding: 1.5rem 0;
  margin-top: 1rem;
}

.insurance{
  background: #F9FAF9;
}

.eight-med {
  background: linear-gradient(164.76deg, rgba(255, 247, 228, 0.8) 0%, rgba(255, 210, 234, 0.2) 99.49%);
}

.others{
  background: #F9FAF9;
}

.eight-med li, .others li, .why8med-listitem{
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.802);
}



/* FAQ */

.faq-container{
  border-top: 1px solid rgba(128, 128, 128, 0.802);
}
